
/*Tanvir Sharif*/
.body{
	display: flex;
	margin: 50px 30px 50px;
	justify-content: center;
 
}
.div_t1{
	background-color: #F4C430;
	width: 500px;
	height: 100px;
	margin: 0px auto;

}
.border_flag{
	border-style: solid;
  	border-width: thin;
}
.color_white{
	background-color: white;
	width: 500px;
	height: 100px;
	margin: 0px auto;
	text-align: center;
}
.color_white img{
	width: 130px;
	height: 100px;
}
.color_green{
	background-color: green;
	width: 500px;
	height: 100px;
	margin: 0px auto;

}